body{
  direction: ltr;
  margin: 0px;
  padding: 0px;
}@media print {
  .item-details-container {
    direction: ltr; /* Maintain left-to-right layout when printing */
    display: flex;
    flex-direction: row;
  }
}
div{
  margin: 0;
  padding: 0;
}
span{
  margin: 0;
  padding: 0;
}